.header-container{
    height: 800px;
    position: relative;
    background-image: url(../../../images/chairbg.png.png);
    background-size: cover;
}
.header-container::after{
    height: 700px;
    width: 28%;
    background-color: #3A4256;
    content: ' ';
    position: absolute;
    top:0;
    right: 0%;
    z-index: -40;
}